port = 8000

[[healthcheck]]
name               = "A"
interface          = "http"
host               = "localhost"
port               = 8080
endpoint           = "health"
match              = 200
interval           = 3
healthyThreshold   = 10
unHealthyThreshold = 5

[[healthcheck]]
name               = "Google"
interface          = "http"
host               = "www.google.com"
match              = 200
interval           = 3
healthyThreshold   = 2
unHealthyThreshold = 5
